* {
  font-family: "Lato", sans-serif;
  font-family: "Prompt", sans-serif;
  font-family: "Roboto", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.header_container {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(images/first.jpg) no-repeat center center fixed;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/first.jpg) no-repeat center center fixed;
  background-size: cover;
  background-size: cover;
  text-align: center;
  height: 100vh;
  position: relative;
}

.header_container .header_logo {
  padding-top: 40px;
  padding-bottom: 40px;
}

.nav_container .nav_ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #ffffff;
  height: auto;
  width: 100%;
  margin: 0 auto;
}

.nav_container .nav_ul a {
  text-decoration: none;
  font-size: clamp(12px, 2vw, 25px);
  font-weight: 300;
  text-transform: uppercase;
  padding: 14px;
  color: #516079;
  margin: auto 0;
  cursor: pointer;
}

.homepage_texte {
  height: auto;
}

.homepage_texte p {
  font-size: 40px;
  font-weight: 300;
  position: absolute;
  bottom: 0;
  color: white;
  font-size: clamp(30px, 4vw, 40px);
  margin: 100px 0;
}

.homepage_texte p .homepage_texte_lien {
  border-bottom: 1px solid #ffffff;
  text-decoration: none;
  color: #ffffff;
}

.homepage_content_btn {
  margin: 40px auto;
}

button {
  min-width: 130px;
  height: 40px;
  color: #ffffff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  z-index: 0;
  background: #ffffff;
  overflow: hidden;
  border: 2px solid #c5c6c6;
  color: #2e3244;
}

button:hover {
  color: #ffffff;
}

button:hover:after {
  width: 100%;
}

button:after {
  content: "";
  position: absolute;
  z-index: -1;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  background: #516079;
}

.about {
  background-color: papayawhip;
  height: 200vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.about h2 {
  font-weight: 400;
  padding-top: 20px;
  font-size: 40px;
  color: #2e3244;
  text-transform: uppercase;
}

.about_content_text {
  height: auto;
  padding-top: 20px;
  margin: 0 20px;
}

.about_content_img {
  height: 100vh;
}

.about_content_img h3 {
  color: #2e3244;
  font-size: clamp(18px, 4vw, 30px);
  margin: 0 auto;
  width: 80%;
  font-weight: 200;
}

.about_text {
  height: 33vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 17px;
  font-size: 12px;
  color: #2e3244;
  border-top: 1px solid #2e3244;
  padding: 5px;
}

.about_text h4 {
  font-size: 35px;
  font-weight: 600;
  margin: 16px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  color: #2e3244;
}

.about_text p {
  font-size: 15px;
  font-weight: 200;
  margin: 8px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  text-align: left;
}

html {
  overflow-y: scroll;
  height: 100%;
  -webkit-overflow-scrolling: touch;
}

body {
  overflow-y: visible;
  position: relative;
  height: auto;
}

html,
body {
  overflow-x: hidden;
  margin: 0;
}

.location {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(images/third.jpg) no-repeat center center fixed;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/third.jpg) no-repeat center center fixed;
  background-size: cover;
  background-size: cover;
}

.location .location_title {
  padding-top: 20px;
  font-size: 40px;
  font-weight: 400;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: uppercase;
}

.sticky-container {
  height: 85vh;
  width: 350%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.sticky-container h3 {
  width: 80%;
  font-size: 27px;
  font-weight: 200;
  color: #c5c6c6;
  border-bottom: 1px solid #c5c6c6;
}

.sticky-container p {
  color: #ffffff;
  width: 80%;
  font-size: 18px;
  font-weight: 100;
  text-align: left;
  padding: 10px;
}

.sticky-container iframe,
.sticky-container img {
  width: 50%;
  height: 50%;
}

.vertical-section {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

h1 {
  margin: 0;
  padding: 0;
}

.location_content_placement {
  min-width: 100vw;
  width: 100vw;
  min-height: 85vh;
  padding: 20px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.contact .contact_title {
  padding-top: 20px;
  font-size: 40px;
  font-weight: 300;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: uppercase;
}

.contact_content {
  background-color: #ffffff;
  width: 300px;
  height: auto;
  padding: 5px;
  margin: auto;
  opacity: 1;
}

.contact_content_boulanger {
  margin: 30px 0;
}

.contact_content_boulanger h3 {
  font-weight: 400;
  font-size: 40px;
  margin-bottom: 30px;
}

.contact_content_boulanger p {
  font-weight: 100;
  font-size: 25px;
  text-align: start;
  margin-top: 8px;
}

.contact_content_adress {
  margin: 50px 0;
}

.contact_content_adress h3 {
  font-weight: 400;
  font-size: 40px;
  margin-bottom: 30px;
}

.contact_content_adress p {
  font-weight: 100;
  font-size: 25px;
  text-align: start;
  margin-top: 8px;
}

.contact_content_social {
  margin: 90px 0px 10px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: 20px;
}

.contact_content_social a {
  text-decoration: none;
  color: #2e3244;
  font-size: 35px;
}

.footer_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer_content ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer_content ul li {
  padding: 10px;
}

@media screen and (min-width: 1180px) {
  .sticky-container h3 {
    width: 50%;
  }
  .sticky-container p {
    width: 50%;
    padding-bottom: 20px;
  }
  .sticky-container iframe {
    width: 50%;
    height: 50%;
  }
  .about_content_text h3 {
    margin-top: 50px;
  }
  .about_content_text .about_content_blocks {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .about_content_text .about_content_blocks .about_text {
    border-top: none;
    width: 33%;
    margin: 20px;
    margin-top: 130px;
    text-align: left;
  }
}

@media screen and (min-width: 700px) {
  .nav_container .nav_ul {
    background-color: transparent;
  }
  .nav_container .nav_ul a {
    color: #ffffff;
  }
}
/*# sourceMappingURL=style.css.map */