$color1: #2E3244;
$color2: #C5C6C6;
$color3:#FFFFFF;
$color4:#F1895C;
$color5:#516079;

*{
    font-family: 'Lato', sans-serif;
    font-family: 'Prompt', sans-serif;
    font-family: 'Roboto', sans-serif;
}

html{
    scroll-behavior:smooth;
}

// HEADER
.header_container{
    background:  linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/first.jpg) no-repeat center center fixed;
    background-size: cover;
    text-align: center;
    height: 100vh;
    .header_logo{
        padding-top: 40px;
        padding-bottom: 40px;
    }
}

.nav_container{
    .nav_ul{
        display: flex;
        justify-content:space-around;
        background-color: $color3;
        height: auto;
        width: 100%;
        margin: 0 auto;
        border-radius: 5px;
        opacity: 0.8;
        a{
            text-decoration: none;
            font-size: clamp(15px, 2vw, 25px);
            font-weight: 300;
            text-transform: uppercase;
            padding: 14px;
            color: $color5;
            margin: auto 0;
            cursor: pointer;
        }
    }
}

// END HEADER
.homepage_texte{
    color: white;
    font-size: clamp(18px, 4vw, 30px);
    margin: 40px 20%;
}

.homepage_content_btn{
    margin: 40px auto;
}
button {
    min-width: 130px;
    height: 40px;
    color: $color3;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    z-index: 0;
    background: $color3;
    overflow: hidden;
    border: 2px solid $color2;
    color: $color1;
    }
    button:hover {
    color: $color3;
    }
    button:hover:after {
    width: 100%;
    }
    button:after {
    content: "";
    position: absolute;
    z-index: -1;
    transition: all 0.3s ease;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    background: $color5;
    }

// END HOMEPAGE

// ABOUT
.about{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/second.jpg) no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    h2{
        font-weight: 400;
        padding-top: 20px;
        font-size: 40px;
        color: $color3;
        text-transform: uppercase;
    }
}
.about_content_text{
    h3{
        color: white;
        font-size: clamp(18px, 4vw, 30px);
        border: 1px solid $color3;
        margin: 0 auto;
        width: 80%;
    }
}
.about_text{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 20px;
    font-size: 12px;
    color: $color3;
    justify-content: left;
    text-align: left;
    border-top: 1px solid $color3;
    padding: 5px;
    h4{
        font-size: 22px;
        font-weight: 300;
        margin: 18px 0;
        display: flex;
        justify-content: left;
        color: $color4;
    }
    p{
        font-size: 15px;
        font-weight: 100;
        margin: 8px 0;
        display: flex;
        justify-content: left;
    }
}
// END ABOUT
// LOCATION
html {
	overflow-y: scroll;
	height: 100%;
	-webkit-overflow-scrolling: touch;
}
body {
	overflow-y: visible;
	position: relative;
  height: auto;
}
html, body {
	overflow-x: hidden;
	margin: 0;
}









.location{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/third.jpg) no-repeat center center fixed;
    background-size: cover;
    .location_title{
        padding-top: 20px;
        font-size: 40px;
        font-weight: 400;
        color: $color3;
        display: flex;
        justify-content: center;
        text-transform: uppercase;
    }
}
.sticky-container{
    height: 85vh;
    width: 350%;
    display: flex;
    flex-wrap: nowrap;
    h3{
        width: 80%;
        font-size: 25px;
        font-weight: 200;
        color: $color2;
        border-bottom: 1px solid $color2;
    }
    p{
        color: $color3;
        width: 80%;
        font-size: 18px;
        font-weight: 100;
        text-align: left;
    }
    iframe{
        width: 80%;
        height: 80%;
    }
}
.vertical-section{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  h1 {
    margin: 0;
    padding: 0;
  }
  
  .location_content_placement {
    min-width: 100vw;
    width: 100vw;
    min-height: 85vh;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
// END LOCATION

// CONTACT
.contact{
    // background: url(/images/fourth.jpg) no-repeat center center fixed;
    // background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    .contact_title{
        padding-top: 20px;
        font-size: 40px;
        font-weight: 300;
        color: $color3;
        display: flex;
        justify-content: center;
        text-transform: uppercase;
    }
}
.contact_content{
    background-color: $color3;
    width: 300px;
    height: auto;
    padding: 5px;
    margin: auto;
    opacity: 1;
}
.contact_content_boulanger{
    margin: 30px 0;
    h3{
        font-weight: 400;
        font-size: 40px;
        margin-bottom: 30px;
    }
    p{
        font-weight: 100;
        font-size: 25px;
        text-align: start;
        margin-top: 8px;
    }
}
.contact_content_adress{
    margin: 50px 0;
    h3{
        font-weight: 400;
        font-size: 40px;
        margin-bottom: 30px;
    }
    p{
        font-weight: 100;
        font-size: 25px;
        text-align: start;
        margin-top: 8px;
    }
}
.contact_content_social{
    margin: 90px 10px 10px 10px;
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    a{
        text-decoration: none;
        color: $color1;
        font-size: 35px;
    }
    
}
// END CONTACT