$color1: #2e3244;
$color2: #c5c6c6;
$color3: #ffffff;
$color4: #f1895c;
$color5: #516079;
$color6: #f8f6f0;
$color7: #ded6c6;

* {
  font-family: "Lato", sans-serif;
  font-family: "Prompt", sans-serif;
  font-family: "Roboto", sans-serif;
}

html {
  scroll-behavior: smooth;
}

// HEADER
.header_container {
  background: url(images/first.jpg)
      linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    no-repeat center center fixed;
  background-size: cover;
  background-size: cover;
  text-align: center;
  height: 100vh;
  position: relative;
  .header_logo {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.nav_container {
  .nav_ul {
    display: flex;
    justify-content: space-around;
    // background-color: $color1;
    height: auto;
    width: 100%;
    margin: 0 auto;
    // box-shadow: inset 0px 0px 22px -6px $color3;
    a {
      text-decoration: none;
      font-size: clamp(12px, 2vw, 25px);
      font-weight: 300;
      text-transform: uppercase;
      padding: 14px;
      color: $color3;
      margin: auto 0;
      cursor: pointer;
    }
  }
}

// END HEADER
.homepage_texte {
  height: auto;
  p {
    font-size: 40px;
    font-weight: 300;
    position: absolute;
    bottom: 0;
    right: 0%;
    color: white;
    font-size: clamp(30px, 4vw, 40px);
    margin: 100px 0;
    .homepage_texte_lien {
      border-bottom: 1px solid $color3;
      text-decoration: none;
      color: $color3;
    }
  }
}

.homepage_content_btn {
  margin: 40px auto;
}
// END HOMEPAGE

// ABOUT
.about {
  background-color: $color6;
  height: auto;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.about_content_text {
  height: auto;
  margin: 0 20px;
  h2 {
    font-weight: 400;
    margin: 20px auto;
    margin-top: 120px;
    font-size: 40px;
    color: $color1;
    text-transform: uppercase;
  }
}
.about_content_img {
  height: 90vh;
  h3 {
    color: $color1;
    font-size: clamp(20px, 4vw, 30px);
    margin: 20px auto;
    font-weight: 200;
  }
  img {
    height: 82%;
  }
}
.about_2 {
  background-color: $color7;
}
.about_explain {
  height: auto;
  margin: 0 20px;
  .about_explain_text {
    display: flex;
    flex-direction: column;
    margin: 17px auto;
    font-size: 12px;
    color: $color1;
    h4 {
      font-size: 28px;
      font-weight: 400;
      margin-bottom: 16px;
      display: flex;
      text-align: left;
      color: $color1;
    }
    p {
      font-size: 17px;
      font-weight: 200;
      margin: 8px 0;
      display: flex;
      justify-content: left;
      text-align: left;
    }
    img {
      width: 80%;
      margin: 20px auto;
    }
  }
}

// END ABOUT
// LOCATION
html {
  overflow-y: scroll;
  height: 100%;
  -webkit-overflow-scrolling: touch;
}
body {
  overflow-y: visible;
  position: relative;
  height: auto;
}
html,
body {
  overflow-x: hidden;
  margin: 0;
}

.location {
  background: url(images/third.jpg)
      linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    no-repeat center center fixed;
  background-size: cover;
  background-size: cover;
  .location_title {
    padding-top: 20px;
    font-size: 36px;
    font-weight: 400;
    color: $color3;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
  }
}
.sticky-container {
  height: 85vh;
  width: 350%;
  display: flex;
  flex-wrap: nowrap;
  h3 {
    width: 80%;
    font-size: 27px;
    font-weight: 300;
    color: $color3;
    margin-bottom: 30px;
    border-bottom: 1px solid $color3;
  }
  p {
    color: $color3;
    font-size: 18px;
    font-weight: 100;
    text-align: left;
    margin-bottom: 20px;
    text-align: center;
  }
  iframe,
  img {
    width: 50%;
    height: 50%;
  }
}
.vertical-section {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  margin: 0;
  padding: 0;
}

.location_content_placement {
  min-width: 100vw;
  width: 100vw;
  min-height: 85vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .location_content_placement_city {
    font-weight: 400;
  }
}
// END LOCATION

// CONTACT
.contact {
  height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.contact_content {
  background-color: $color3;
  width: 300px;
  height: auto;
  padding: 5px;
  margin: auto;
  opacity: 1;
}
.contact_content_boulanger {
  margin: 30px 0;
  h3 {
    font-weight: 400;
    font-size: 40px;
    margin-bottom: 30px;
  }
  p {
    font-weight: 100;
    font-size: 25px;
    text-align: start;
    margin-top: 8px;
  }
}
.contact_content_adress {
  margin: 50px 0;
  h3 {
    font-weight: 400;
    font-size: 40px;
    margin-bottom: 30px;
  }
  p {
    font-weight: 100;
    font-size: 25px;
    text-align: start;
    margin-top: 8px;
  }
}
.contact_content_social {
  margin: 90px 0px 10px 0px;
  display: flex;
  justify-content: space-around;
  font-size: 20px;
  a {
    text-decoration: none;
    color: $color1;
    font-size: 35px;
  }
}
.footer_content {
  display: flex;
  justify-content: center;
  ul {
    display: flex;
    justify-content: space-between;
    li {
      padding: 10px;
    }
  }
}
// END CONTACT

//

@media screen and (min-width: 1400px) {
}

@media screen and (min-width: 1180px) {
  .homepage_texte {
    p {
      right: 10%;
    }
  }
  .sticky-container {
    h3 {
      width: 50%;
    }
    p {
      width: 50%;
      padding-bottom: 20px;
    }
    iframe {
      width: 50%;
      height: 50%;
    }
  }
  .about_content_text {
    h3 {
      font-size: 35px;
      font-weight: 300;
      margin-bottom: 200px;
      display: flex;
      align-items: flex-end;
    }
  }
  .about_explain {
    .about_explain_text {
      margin: 20px;
      h4 {
        width: 40%;
        font-size: 35px;
      }
      p {
        font-size: 18px;
      }
    }
  }

  .right_text {
    align-items: flex-end;
    margin: 20px;
  }
  .about_content_img {
    display: flex;
    img {
      display: flex;
      align-items: flex-start;
      height: 74%;
      margin-left: 80px;
    }
  }
}
@media screen and (min-width: 700px) {
  .nav_container {
    .nav_ul {
      background-color: transparent;
      a {
        color: $color3;
      }
    }
  }
  .about_content_img {
    img {
      height: 82%;
    }
  }
  .about_explain {
    .about_explain_text {
      img {
        width: 30%;
      }
    }
  }
}
