* {
  font-family: "Roboto", sans-serif;
  list-style-type: none;
  text-decoration: none;
}

html {
  overflow-y: scroll;
  height: 100%;
  -webkit-overflow-scrolling: touch;
}

body {
  overflow-y: visible;
  position: relative;
  height: auto;
}

html,
body {
  scroll-behavior: smooth !important;
  overflow-x: hidden;
  margin: 0;
}

.header_container {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.1)), to(rgba(255, 255, 255, 0.5))), url(images/main.webp) no-repeat center center fixed;
  background: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.5)), url(images/main.webp) no-repeat center center fixed;
  background-size: cover;
  text-align: center;
  height: 100vh;
  position: relative;
}

.header_container .header_logo {
  padding-top: 40px;
  padding-bottom: 40px;
}

.nav_container .nav_ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: auto;
  width: 100%;
  margin: 0 auto;
  padding: 0px;
}

.nav_container .nav_ul a {
  font-size: clamp(14px, 2vw, 25px);
  font-weight: 500;
  text-transform: uppercase;
  padding: 2px;
  color: #111111;
  margin: auto 0;
  cursor: pointer;
  position: relative;
}

.hover_style:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 3px;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  background-color: #111111;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.hover_style:hover:after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.homepage_texte {
  margin: 0px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 60vh;
}

.homepage_texte .homepage_texte_title {
  font-size: 40px;
  font-weight: 400;
  color: #111111;
  font-size: clamp(30px, 4vw, 40px);
  margin: 10px auto;
  height: 50px;
  opacity: 1;
}

.homepage_texte .title3 {
  margin-top: 20px;
}

.homepage_content_btn {
  margin: 40px auto;
}

.about {
  background-color: #ffffff;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  min-height: 100vh;
}

.about_content_div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
}

.about_content_text {
  margin: 20px;
}

.about_content_text h2 {
  font-weight: 400;
  margin: 20px auto;
  font-size: 40px;
  color: #2e3244;
  text-transform: uppercase;
}

.about_content_img {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto 0;
  width: 50%;
  height: auto;
}

.about_content_img img {
  -o-object-fit: cover;
     object-fit: cover;
  WIDTH: -webkit-fill-available;
  padding: 20px;
  height: -webkit-fill-available;
  border-radius: 10px;
}

.about_content_right {
  width: 50%;
  height: auto;
  text-align: left;
  margin: auto 0;
  padding-top: 24px;
}

.about_content_right p {
  color: #2e3244;
  font-size: clamp(14px, 2vw, 27px);
  font-weight: 300;
  margin-bottom: 40px;
}

.location {
  background-color: #ded6c6;
}

.location .location_title {
  padding-top: 20px;
}

.location .location_title h2 {
  font-size: 36px;
  font-weight: 400;
  color: #2e3244;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: uppercase;
}

.sticky-container {
  height: 85vh;
  width: 350%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.sticky-container h3 {
  width: 80%;
  font-size: 27px;
  font-weight: 300;
  color: #2e3244;
  margin-bottom: 30px;
  border-bottom: 1px solid #2e3244;
}

.sticky-container p {
  color: #2e3244;
  font-size: 18px;
  font-weight: 100;
  text-align: left;
  margin-bottom: 20px;
  text-align: center;
}

.sticky-container iframe,
.sticky-container img {
  width: 50%;
  height: 50%;
  border-radius: 10px;
}

.vertical-section {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

h1 {
  margin: 0;
  padding: 0;
}

.location_content_placement {
  min-width: 100vw;
  width: 100vw;
  min-height: 85vh;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.location_content_placement .location_content_placement_city {
  font-weight: 300;
}

.contact {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.contact_content {
  background-color: #ffffff;
  width: 300px;
  height: auto;
  padding: 5px;
  margin: auto;
  opacity: 1;
}

.contact_content_boulanger {
  margin: 30px 0;
  color: #2e3244;
}

.contact_content_boulanger h3 {
  font-weight: 400;
  font-size: 40px;
  margin-bottom: 30px;
}

.contact_content_boulanger p {
  font-weight: 100;
  font-size: 25px;
  margin-top: 8px;
}

.contact_content_adress {
  margin: 50px 0;
  color: #2e3244;
}

.contact_content_adress h3 {
  font-weight: 400;
  font-size: 40px;
  margin-bottom: 30px;
}

.contact_content_adress p {
  font-weight: 100;
  font-size: 25px;
  margin-top: 8px;
}

.contact_content_social {
  margin: 90px 0px 10px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: 20px;
}

.contact_content_social a {
  color: #2e3244;
  font-size: 35px;
}

.footer_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer_content ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0px;
}

.footer_content ul li {
  color: #2e3244;
  padding: 10px;
  font-size: 14px;
  font-weight: 300;
}

@media screen and (min-width: 1180px) {
  .sticky-container h3 {
    width: 50%;
  }
  .sticky-container p {
    width: 50%;
    padding-bottom: 20px;
  }
  .sticky-container iframe {
    width: 50%;
    height: 50%;
  }
  .about_explain .about_explain_right {
    margin: 20px;
  }
  .about_explain .about_explain_right h4 {
    width: 40%;
    font-size: 35px;
  }
  .about_explain .about_explain_right p {
    font-size: 16px;
  }
  .right_text {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    margin: 20px;
  }
}

@media screen and (max-width: 980px) {
  .header_container {
    background-attachment: scroll;
  }
  .about_content_text h2 {
    font-size: 28px;
  }
  .about_content_div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 20px;
  }
  .about_content_div .about_content_img {
    width: auto;
  }
  .about_content_div .about_content_img img {
    width: 58%;
    padding: 0px;
  }
  .about_content_div .about_content_right {
    width: auto;
    text-align: left;
    margin-top: 20px;
  }
  .about_content_div .about_content_right h3 {
    margin-bottom: 20px;
    font-size: 20px;
  }
}

@media screen and (max-width: 700px) {
  .header_container .header_logo img {
    width: auto;
  }
  .about_content_div .about_content_right h3 {
    margin-bottom: 15px;
    font-size: 14px;
    font-weight: 400;
  }
  .about_content_div .about_content_right p {
    margin-bottom: 20px;
  }
  .about_content_div .about_content_img img {
    width: 80%;
  }
  .location .location_title {
    font-size: 32px;
  }
  .about_explain .about_explain_text img {
    width: 30%;
  }
  .sticky-container p {
    font-size: 14px;
  }
  .footer_content ul li {
    padding: 7px;
    font-size: 11px;
    font-weight: 300;
  }
}
/*# sourceMappingURL=style.css.map */